@page
@model SupportDataModel
@{
    ViewData["Title"] = "Support Contacts";
}

<div class="h-100 row justify-content-md-center">
    <div class="col-md-5 align-content-center">
        <h1 class="text-center">@ViewData["Title"]</h1>
        <dt class="fs-4">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="fs-4">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="fs-4">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="copy-content fs-4">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="fs-4">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="copy-content fs-4">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <a asp-page="/Index" class="w-100 btn btn-lg btn-secondary">Back to Menu</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_NotificationsPartial");
    }
}
