@page
@model DigitalWallet.Pages.TransactionDetailsModel

@{
    ViewData["Title"] = "Transaction Details";
}

<div class="h-100 row justify-content-center">
    <div class="col-8 align-content-center">
        <h1 class="text-center m-3">@ViewData["Title"]</h1>
        <div class="row">
            <dl class="col rounded border border-2 p-2">
                <dt class="text-center">Summary</dt>
                <dt>
                    @Html.DisplayNameFor(model => model.Transaction.Id)
                </dt>
                <dd class=" copy-content">
                    @Html.DisplayFor(model => model.Transaction.Id)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Transaction.Amount)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Transaction.Amount)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Transaction.Status)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Transaction.Status)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Transaction.Start)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Transaction.Start)
                </dd>
                @if (Model.Transaction.End is not null)
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.Transaction.End)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Transaction.End)
                    </dd>
                }
            </dl>
            <div class="col">
                <dl class="rounded border border-2 p-2">
                    <dt class="text-center">
                        Sender
                        @(Model.Transaction.SenderId is null ? "(external)" : "")
                    </dt>
                    <dt>Email</dt>
                    @if (Model.Transaction.SenderName is null)
                    {
                        <dd>
                            <p class="text-danger">Client data was deleted</p>
                        </dd>
                    }
                    else
                    {
                        <dd class="copy-content">
                            @Html.DisplayFor(model => model.Transaction.SenderName)
                        </dd>
                    }
                    @if (Model.Transaction.SenderId is not null)
                    {
                        <dt>Wallet Id</dt>
                        <dd class=" copy-content">
                            @Html.DisplayFor(model => model.Transaction.SenderId)
                        </dd>
                    }
                </dl>
                <dl class="rounded border border-2 p-2 flex-fill">
                    <dt class="text-center">
                        Receiver
                        @(Model.Transaction.ReceiverId is null ? "(external)" : "")
                    </dt>
                    <dt>Email</dt>
                    @if (Model.Transaction.ReceiverName is null)
                    {
                        <dd>
                            <p class="text-danger">Client data was deleted</p>
                        </dd>
                    }
                    else
                    {
                        <dd class=" copy-content">
                            @Html.DisplayFor(model => model.Transaction.ReceiverName)
                        </dd>
                    }
                    @if (Model.Transaction.ReceiverId is not null)
                    {
                        <dt>Wallet Id</dt>
                        <dd class=" copy-content">
                            @Html.DisplayFor(model => model.Transaction.ReceiverId)
                        </dd>
                    }
                </dl>
            </div>
        </div>
        <a asp-page="/Transactions" class="w-100 btn btn-lg btn-primary">To Transactions List</a>
        <a asp-page="/Index" class="w-100 btn btn-lg btn-secondary">Back to Menu</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_NotificationsPartial");
    }
}